@import 'tailwindcss';
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-base-100: #fff;
  --color-base-300: #9898a0;
  --color-primary: #7C3AED;    
  --color-secondary: #06B6D4; 
  --color-accent: #EC4899;  
}

