@import 'tailwindcss';
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-base-100: #fff;
  --color-base-300: #9898a0;
  --color-primary: #495bed;
  --color-secondary: #EDDB49;
  --color-accent: #495bed;
}
